<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/serverlist/style.css" />
  </head>
  <body>
    <div id="serverList">
      {{#each servers}}
        <div class="serverLists">
            <h2>Server Name: {{this}}</h2>
        </div>
      {{/each}}
    </div>
    <script>

    </script>
  </body>
</html>